/* block_title_ao */
.block_title_ao {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  background: white;
  border-bottom: 1px solid #2461ff;
  margin-bottom: 40px;
}

.block_title_ao_cont {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ao_navigator {
  display: flex;
  width: 100%;
  height: 49px;
  text-align: left;
  align-items: center;
}

.ao_navigator a {
  display: flex;
  width: auto;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 5px;
}

.ao_main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ao_main_name {
  display: flex;
  width: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.5px;
  flex-direction: column;
  color: #000000;
}

.ao_main_name span {
  display: flex;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #0e1422;
}

.ao_main_img {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ao_main_img img {
  width: 100%;
}
/* /block_title_ao */

/* conatc form */

.conatc {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.conatc__form {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 10px;
  background: white;
  margin: 45px 0px;
}

.title_form {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0e1422;
  margin-bottom: 74px;
}

input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0px 0px 5px 5px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 60px;
  border-bottom: 1px solid #2461ff;
}

button {
  display: flex;
  width: 250px;
  height: 54px;
  cursor: pointer;
  background: #2461ff;
  border: 1px solid #2461ff;
  border-radius: 53px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  transition: linear 0.3s;
  text-align: center;
  color: #ffffff;
}

/* /conatc form */
/* maps */

.maps {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.maps iframe {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .maps iframe {
    height: 250px;
  }

  .ao_main{
    
  }
}

/* /maps */
